<html ng-app="NoteWrangler">
  <head>
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="/#/">NoteWrangler</a>
          </div>
        </div>
        <nw-page-nav></nw-page-nav>
      </div>
    </nav>
    <div ng-view class="container-fluid"></div>
  </body>

  <!-- vendors -->
  <script src="assets/javascript/vendor/jquery-2.2.2.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>
  <script src="assets/javascript/vendor/ngGravatar.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Directives -->
  <script src="assets/javascript/directive/nwPageNav.js"></script>
  <script src="assets/javascript/directive/nwCategorySelector.js"></script>
  <script src="assets/javascript/directive/title.js"></script>

  <!-- Controllers -->
  <script src="assets/javascript/controller/notes/notesIndexController.js"></script>
  <script src="assets/javascript/controller/notes/notesShowController.js"></script>
  <script src="assets/javascript/controller/notes/notesCreateController.js"></script>
  <script src="assets/javascript/controller/notes/notesEditController.js"></script>
  <script src="assets/javascript/controller/users/usersIndexController.js"></script>
  <script src="assets/javascript/controller/users/usersShowController.js"></script>

  <!-- Filter -->
  <script src="assets/javascript/filters/categoryFilter.js"></script>

  <!-- Services -->
  <script src="assets/javascript/services/note.js"></script>
  <script src="assets/javascript/services/user.js"></script>
  <script src="assets/javascript/services/category.js"></script>
</html>
